body {
  font-family: "Cabin", sans-serif;
}
.header {
  width: 100%;
  background: #10bbd5;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  background: #10bbd5;
  padding: 16px 52px;
  margin: 0 auto;
}

.cart {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  position: relative;
}
.cart p {
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.cart img {
  width: 40px;
  height: 40px;
  color: #f8fdfe;
}

.cart span {
  background-color: #f8fdfe;
  min-width: 15px;
  min-height: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
}
.secondary {
  padding: 4px 52px;
  background: #fff;
}
.header-navigator-menu ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}
.secondary p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header-navigator-menu a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* main */
main {
  background: #eeeeef;
  margin: 0 auto;
  position: relative;
}

.main-title {
  display: flex;
  padding-bottom: 23px;
  padding-top: 32px;
  margin-right: 52px;
  margin-left: 52px;
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  border-bottom: 1px solid #a8a8a8;
}
.product-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 52px 120px;
  margin: 0 auto;
  position: relative;
}
.product-card {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid #a8a8a8;
}
.product-card-image a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-card-image {
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: relative;
}
.badge {
  display: inline-flex;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.badge span {
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  display: flex;
  box-sizing: border-box;
  color: #f8fdfe;
}
.hit {
  background: #4200ff;
  gap: 10px;
}

.new {
  background: #af39e7;
}

.off {
  background: #ea33c0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.title p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 242px;
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.avtor {
  display: flex;
  box-sizing: border-box;
  border-top: 1px solid #a8a8a8;
  align-self: stretch;
  overflow: hidden;
  color: #8e8e8e;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}
.title .price {
  color: #e90000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  gap: 16px;
}

button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: #4c394e;
  color: #f8fdfe;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.secondary-button {
  background: #4d762d;
  border-color: #f8fdfe;
}
.all-price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.all-price .sale-price {
  text-decoration-line: line-through;
  color: #8e8e8e;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.chat {
  display: flex;
  background-color: #10bbd5;
  border-radius: 50px;
  border-style: none;
  position: sticky;
  max-width: 94px;
  max-height: 64px;
  bottom: 40px;
  left: 100%;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #4c394e;
  padding: 32px 52px;
}

.footer-text {
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
